﻿@{
    ViewBag.Title = "Super Wyszukiwarka";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Wyszukiwanie</div>
            <div class="panel-body">
                <input type="text" class="form-control" style="max-width: 100%;" data-bind="value: mainSearchInput, valueUpdate: 'afterkeydown', event: { change: mainPhraseChange }" placeholder="Wpisz szukaną frazę...">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default" data-bind="with: sqlSearchConfiguration">
            <div class="panel-heading">Wyszukiwanie SQL</div>
            <div class="panel-body">
                <input type="text" class="form-control" style="max-width: 100%;" data-bind="value: phrase, valueUpdate: 'afterkeydown', event: { change: $parent.phraseChange }" placeholder="Wpisz szukaną frazę...">
                <div data-bind="visible: executionTime() > 0" style="padding-top:10px;">
                    <span>Wykonano w <b data-bind="text:executionTime()"></b><b>ms</b></span>
                    <p>Wyników: <b data-bind="text: articles().length"></b></p>
                </div>
            </div>
            <table class="table table-hover" data-bind="visible: articles().length > 0">
                <thead>
                    <tr>
                        <th>L.p.</th>
                        <th>Wynik</th>
                        <th>Tytuł</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: articles">
                    <tr data-bind="click: $root.openArticle">
                        <th data-bind="text: $index()+1"></th>
                        <td>--</td>
                        <td data-bind="text: Title"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default" data-bind="with: luceneSearchConfiguration">
            <div class="panel-heading">Wyszukiwanie Lucene.NET</div>
            <div class="panel-body">
                <input type="text" class="form-control" style="max-width: 100%;" data-bind="value: phrase, valueUpdate: 'afterkeydown', event: { change: $parent.phraseChange }" placeholder="Wpisz szukaną frazę...">
                <div data-bind="visible: executionTime() > 0" style="padding-top:10px;">
                    <span>Wykonano w <b data-bind="text:executionTime()"></b><b>ms</b></span>
                    <p>Wyników: <b data-bind="text: articles().length"></b></p>
                </div>
            </div>
            <table class="table table-hover" data-bind="visible: articles().length > 0">
                <thead>
                    <tr>
                        <th>L.p.</th>
                        <th>Wynik</th>
                        <th>Tytuł</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: articles">
                    <tr data-bind="click: $root.openArticle">
                        <th data-bind="text: $index()+1"></th>
                        <td data-bind="text: Score"></td>
                        <td data-bind="text: Title"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>